{
  // significa que o código será executado em um ambiente Node.js.
  "env": {
    "node": true
  },
  //specificar as opções de análise de código-fonte, e neste caso, { "ecmaVersion": 8 } 
  //indica que o código-fonte será analisado com suporte para a versão 8 do ECMAScript (que corresponde ao ES2017)
  "parserOptions": {
    "ecmaVersion": 8
  }
}
